<%= render_html_partial 'top-left-corner-header' %>
<%= render_html_partial 'top-right-corner-header' %>

<div class="cs-doc">
  <cs-react-island component="generic/Markdown" props='{"src":"<%= @markdown_path %>"}' static></cs-react-island>
</div>
