<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/src/global/loaders/beforePageLoadStarted.js"></script>

  <style>
    @import "/src/global/styles/base.css";
    @import "/src/global/styles/fonts/dm-sans.css";
    @import "/src/global/styles/themes/index.css";
    @import "/src/global/styles/islands.css";

    @import "/src/components/Selector/styles.css";
    @import "/src/components/ThemeSelector/styles.css";

    @import "/views/partials/top-right-corner-header/styles.css";
    @import "/src/components/ColorSchemeToggle/styles.css";
    @import "/src/components/Loader/styles.css";
    @import "/src/components/LoaderPulse/styles.css";
    @import "/src/components/Lorem/styles.css";
  </style>

  <script type="importmap">
    {
      "imports": {
        "react": "https://esm.sh/react@18",
        "react-dom/client": "https://esm.sh/react-dom@18/client",
        "htm": "https://esm.sh/htm@3",
        "zustand": "https://esm.sh/zustand@4?deps=react@18",
        "classnames": "https://esm.sh/classnames@2",
        "@utils/env": "/src/utils/env.js",
        "@utils/html": "/src/utils/html.js",
        "@utils/island": "/src/utils/island.js",
        "@utils/colorScheme": "/src/utils/colorScheme.js",
        "@utils/theme": "/src/utils/theme.js",
        "@components/App": "/src/components/App/index.js",
        "@components/Selector": "/src/components/Selector/index.js",
        "@components/ThemeSelector": "/src/components/ThemeSelector/index.js",
        "@components/ColorSchemeToggle": "/src/components/ColorSchemeToggle/index.js",
        "@components/Loader": "/src/components/Loader/index.js",
        "@components/LoaderPulse": "/src/components/LoaderPulse/index.js",
        "@components/Lorem": "/src/components/Lorem/index.js",
        "@icons": "/src/components/icons/index.js",
        "marked": "https://esm.sh/marked",
        "@components/Markdown": "/src/components/Markdown/index.js"
      }
    }
  </script>
</head>
<body>
  <%= render_partial 'top-right-corner-header' %>

  <%= yield %>

  <script type="module" src="/src/global/loaders/afterPageLoadFinished.js"></script>
</body>
</html>
