<header class="cs-top-right-corner-header">
  <div class="cs-top-right-corner-header__controls">
    <cs-react-island component="ThemeSelector"></cs-react-island>
    <cs-react-island component="ColorSchemeToggle"></cs-react-island>
  </div>
</header>
