<header class="cs-header">
  <div class="cs-header__controls">
    <react-island component="ThemeSelector"></react-island>
    <react-island component="ColorSchemeToggle"></react-island>
  </div>
</header>
