<header class="cs-top-left-corner-header">
  <a href="/" class="cs-top-left-corner-header__logo-link">
    <img src="/public/logo.png" alt="Convenient Service" class="cs-top-left-corner-header__logo" />
  </a>
</header>
